<ul>
  <% @files.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a>
      <a href="/<%= filename %>/edit">(click here to edit file)</a>
    </li>
  <% end %>
</ul>

<p><a href="/new">Click to create a new document</a><p>
