<form method="post" action="/new">
  <label for="new_file"><h4>Add a new document:</h4></label>
  <div>
    <input name="new_file" id="new_file"/>
  <button type="submit">Create</button>
  </div>
</form>
